language: java
jdk:
  - oraclejdk8
script:
  mvn cobertura:cobertura
install:
  - mvn --settings ../travis/settings.xml install -DskipTests=true -Dgpg.skip -Dmaven.javadoc.skip=true -B -V
before_install:
  - cd jacobi
  - if [ ! -z "$GPG_SECRET_KEYS" ]; then echo $GPG_SECRET_KEYS | base64 --decode | $GPG_EXECUTABLE --import; fi
  - if [ ! -z "$GPG_OWNERTRUST" ]; then echo $GPG_OWNERTRUST | base64 --decode | $GPG_EXECUTABLE --import-ownertrust; fi
deploy:
  -
    provider: script
    script: chmod +x ../travis/deploy.sh && ../travis/deploy.sh
    skip_cleanup: true
    on:
      branch: master
  - 
    provider: script
    script: chmod +x ../travis/deploy.sh && ../travis/deploy.sh
    skip_cleanup: true
    on:
      tags: true
cache:
  directories:
    - ~/.m2/repository
after_success:
  - bash <(curl -s https://codecov.io/bash) -t c58707bb-1c87-488f-9c0d-606169bbe563